.footer {
    width: 100%;
    background-color: rgb(49, 47, 47);
    color: white;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.container__links {
    margin-top: 30px;
    margin-left: 100px;
}

.list {
    display: flex;
    list-style: none;
}

.item__list {
    padding: 0 10px;
}

.item__list1 {
    padding-left: 0;
}

.container__copy {
    margin-left: 100px;
    margin-top: 25px;
}

.copy {
    font-size: 15px;
}

.social {
    display: flex;
    padding-left: 100px;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 25px;
}

.redes {
    width: 35px;
    height: 35px;
    margin-right: 12px;
}


.container__app {
    display: flex;
    padding-right: 100px;
}

.app-apple {
    margin: 0 10px;
}


@media screen and (max-width:680px){
    /* .footer {
        height: 400px;
    } */
    .container__links {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container__copy{
        margin-left: 0;
    }
    .copy {
        text-align: center;
    }
    .list {
        flex-direction: column;
        text-align: center;
        line-height: 22px;
    }
    .item__list1 {
        padding: 0 10px;
    }
}

@media screen and (max-width:768px) {

    .container__links {
        display: flex;
        margin-left: 0;
        justify-content: center;
    }

    .social {
        flex-direction: column;
        padding-left: 0px;
        width: 100%;
        margin-top: 25px;
        justify-content: center;
        align-items: center;
    }
    
    .container__copy{
        margin-left: 0;
    }
    .copy {
        text-align: center;
    }

    .container__app {
        padding-right: 0px;
        margin-top: 15px;
    }
}
@media screen and (max-width:500px){
    /* .footer {
        height: 500px;
    } */
    .container__app{
        display: flex;
        flex-direction: column;
    }
    .app{
        margin: 10px 0px;
    }
}