.title__popular{
    padding: 0px 0 25px 100px;
    background-color: rgb(49, 47, 47);
    color:white;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width:768px){
    .title__popular{
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
}